@theme {
  --animate-fade-in: fade-in 300ms ease-in;
  --animate-fade-out: fade-out 300ms ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
