@import "tailwindcss";
@import "./styling/index.css";
@import "@ng-select/ng-select/themes/default.theme.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--color-gray-900);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield !important;
}

.ng-select .ng-select-container {
  color: var(--color-gray-100) !important;
  background-color: var(--color-gray-600) !important;
  border-color: var(--color-blue-400) !important;
  overflow: visible;

  .higher {
    height: calc(var(--spacing) * 8);
  }
}

.ng-select.ng-select-single .ng-select-container {
  /*min-height: calc(var(--spacing) * 5);*/
  /*height: calc(var(--spacing) * 5);*/
}

.ng-dropdown-panel {
  border-color: var(--color-blue-400) !important;
  z-index: 10000 !important;
}

.ng-dropdown-panel .ng-option {
  background-color: var(--color-gray-700) !important;
  color: var(--color-gray-100) !important;
  @apply !text-xs;

}

.ng-dropdown-panel .ng-option-marked {
  background-color: var(--color-gray-600) !important;
}

.mat-mdc-card {
  background-color: var(--color-gray-800) !important;
  @apply !py-2;
}

.mat-mdc-card-content {
  @apply !py-2;
  @apply !px-4;
}

.mtx-popover-panel {
  background-color: var(--color-gray-700) !important;
  color: white !important;
}

.mat-mdc-dialog-surface {
  background-color: var(--color-gray-800) !important;
}
